<% @post_images.each do |post_image| %>

<div>
  <p>投稿者：<%= post_image.user.name %></p>
  <%# @users.each do |user| %>
  <%# end %>
  <p><%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <%= link_to post_image_path(post_image.id) do %>
    <%= attachment_image_tag post_image, :image, width: '50%', height: '50%' %>
  <% end %>

  <p><%= post_image.text%></p>
    <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
</div>
<br>
<% end %>
<%= paginate @post_images %>