<h6>検索</h6>
<%= search_form_for @q, url: search_post_images_path do |f| %>
  <%= f.label :text_cont, 'キーワード検索' %><br>
  <%= f.search_field :text_cont %><br>
  <br>
  <%= f.submit '検索' %>
<% end %>

<br>
<%#= render 'search', q: @q, url: post_images_search_path %>
<% @post_images.each do |post_image| %>

<div>
  <div>

  <%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <%= post_image.user.name %>


  </div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= attachment_image_tag post_image, :image, width: '50%', height: '50%' %>
  <% end %>

  <p><%= post_image.text%></p>
  <p><%= post_image.hashbody %></p>
  <%#= render_with_hashtags(@post_images.hashbody) %>
    <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
</div>
<br>
<% end %>



<%= paginate @post_images %>