<h6>検索結果</h6>
<% @results.each do |post_image| %>

<div>
  <div>

  <%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <%= post_image.user.name %>


  </div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= attachment_image_tag post_image, :image, width: '50%', height: '50%' %>
  <% end %>

  <p><%= post_image.text%></p>
    <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
</div>
<br>
<% end %>

<%= link_to '投稿一覧へ戻る', post_images_path %>


