<!DOCTYPE html>
<html>
  <head>
    <title>Landscape</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-light" style="background-color: #FF8C00;">
  <div class="container">
    <a class="navbar-brand" href="/"><i class="fas fa-camera-retro"> landscape</i></a>


  <body>
    <% if user_signed_in? %>

      <a class="fas fa-image nav-link" rel="nofollow"  href="/post_images/new">新規投稿<% new_post_image_path %></a>

        <a class="fas fa-sign-out-alt nav-link" rel="nofollow" data-method="delete" href="/users/sign_out">
          ログアウト<% destroy_user_session_path%>
        </a>


      <li>
      <%= link_to 'マイページ', user_path(current_user.id) %>
      </li>

      <li>
      <%= link_to 'タイムライン', post_images_path %>
      </li>

    <% else %>
    <div class="text-right">
      <a class="fas fa-sign-in-alt nav-link" rel="nofollow"  href="/users/sign_in">ログイン<% new_user_session_path %></a>

      <a class="fas fa-user-plus nav-link" rel="nofollow"  href="/users/sign_up">新規登録<% new_user_registration_path %></a>
    </div>
    <% end %>

    </div>
    </nav>

    <%= yield %>
  </body>
</html>
